:root {
    --box-border: 7px;
}

@font-face {
    font-family: "Digital";
    src: url("../fonts/DS-DIGIT.TTF");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Digital";
    font-size: 80px;
}

body {

    width: 100vw;
    height: 100vh;
    background-color: rgba(23, 119, 245, 0.466);
    position: relative;

}

body::after {
    background-image: url("../../images/noise.png");
    background-color: rgba(23, 119, 245, 0.5);
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.4;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 60px;
    margin-right: 20px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: end;

}


.marco {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px;

}





.boxmark {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-style: none;
}

.tl,
.tr {
    border-top: var(--box-border) solid black;
}

.bl,
.br {
    border-bottom: var(--box-border) solid black;
}

.tl,
.bl {
    border-left: var(--box-border) solid black;
}

.tr,
.br {
    border-right: var(--box-border) solid black;
}

.tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 0;
}

.tl{
    border-radius: 10px 0 0 0;
}

.bl{
    border-radius: 0 0 0 10px;
}

.br{
    border-radius: 0 0 10px 0;
}

.dot {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 100vmax;

   
}

.intermitent {

    animation: parpadeo 1.5s infinite ease-in-out alternate;

}

@keyframes parpadeo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}